<html>
	<head>
	</head>
	<body>
		SELECT WHICH ONE OF THE IMAGES TAKE PLACE DURING THE PROPHASE
		<table border="1" style="width:300px">
		<tr>
	 <td><a href='prophase'> <img src='Prophase.png'/> </a> </td>
			
	 <td><a href='metaphase'> <img src='Metaphase.png'/></a> </td> 
	
	 <td><a href='anaphase'> <img src='Anaphase.png'/></a> </td> 
		
	 <td><a href='telaphase'> <img src='Telaphase.png'/></a> </td> 
		
	 <td><a href='interphase'> <img src='Interphase.png'/> </a></td> 
		</tr>
		</table>
	</body>
</html>