<html>
	<head>
	</head>
	<body>
		HOW MUCH SHOULD YOU ZOOM THE MICROSCOPE TO PROPERLY VIEW THE ONION CELL
		<tr>
		 <button>
			10X
		</button>
		</tr>
		<tr>
		 <button>
			100X
		</button>
		</tr>
		<tr>
		 <button>
			1000X
		</button>
		</tr>
		<tr>
		 <button>
			10000X
		</button>
		</tr>
		<tr>
		 <button>
			100000X
		</button>
		</tr>
		<tr>
	</body>
</html>