<html>
	<head>
	</head>
	<body>
		CLICK ON EACH STAGE OF MITOSIS
		THEN SELECT THE PROPER NAME FOR THE STAGE
	<table border="1" style="width:300px">
		<tr>
		 <td><a href='prophase'> PROPHASE </a> </td> 
		</tr>
		<tr>
		 <td><a href='metaphase'> METAPHASE </a> </td> 
		</tr>
		<tr>
		 <td><a href='anaphase'> ANAPHASE </a> </td> 
		</tr>
		<tr>
		 <td><a href='telaphase'> TELAPHASE </a> </td> 
		</tr>
		<tr>
		 <td><a href='interphase'> INTERPHASE </a> </td> 
		</tr>
		<tr>
		 <button onclick="window.location.assign('simulation')">
			MOVE ON TO NEXT PART OF SIMULATION
		</button>
		</tr>
		</table>
	</body>
</html>

