<html>
	<head>
		<script type="text/javascript">  
			function error(){
				alert('You do not have your sample yet! Go get a sample first and then use this part of the lab!');
			}

		</script>
	</head>
	<body>
		<img src="LABBENCH.png" height="900" usemap="#labmap">

<map name="labmap">
  <area shape="rect" coords="600,200,800,400" onclick= 'error();'>
  <area shape="rect" coords="120,120,280,280" href="onion">
</map>
		</button>
	
	</body>
</html>