<html>
	<head>
	</head>
	<body>
			WELCOME RETURNING STUDENT
		<br>
		<button>
			CHECK YOUR GRADES
		</button>
		<button onclick="window.location.assign('quiz1')">
			START MITOSIS SIMULATION
		</button>
	
	</body>
</html>